# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build Xcode Project
      run: |
        pod install
        xcodebuild clean test -workspace unlock-ios-swiftui/unlock.xcworkspace \
        -scheme unlock \ 
        -destination 'platform=iOS Simulator,name=iPhone 14 Pro,OS=latest' 
